//全局变量
@import '../variable/variable.less'; // 基础布局类

.clearfix::after {
  content: '';
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.hidden {
  display: none;
}

.a-box {
  background: #fff;
  border-radius: 4px;
  font-size: 12px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;

  .a-box-body {
    padding: 24px;
  }
}

.login {
  height: 100%;
  background-image: url('../../img/fullstack.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .bg {
    margin: 0 auto;
    height: 100%;
  }
}

.subText {
  color: @text-color;
  font-size: 12px;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.ivu-table th, .ivu-table td {
  &.min-width {
    width: 200px !important;
    min-width: 200px
  }
}
